<ul id="budget-list">

  <li class="budget-heading">Money</li>

  <li class="budget-iput budget-row" >
    <input class="description-input" placeholder="add input item"
      ng-model="newItem.description" ng-keyup="add($event)" />
    <input class="amount-input" placeholder="amount"
      ng-model="newItem.amount" ng-keyup="add($event)" />
  </li>

  <li class="budget-row slide"  ng-repeat="budget in budgetItems">
    <div class="budget-description">{{budget.description}}</div>
    <div class="budget-amount">{{budget.amount}}</div>
  </li>

</ul>